

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

/* Style the header */

.header {
    background-color: #white;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

/* Style the content */
.content {
    background-color: #white;
    margin: auto;
    padding: 10px;
}

/*Styling for the Map*/
#map { height: 180px;
	margin: auto;
}


.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.demo-legend {
    display: none;
}
.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: .7;
}


.leaflet-tile-pane    { z-index: 2; }
.leaflet-objects-pane { z-index: 3; }
.leaflet-overlay-pane { z-index: 4; }
.leaflet-shadow-pane  { z-index: 5; }
.leaflet-marker-pane  { z-index: 6; }
.leaflet-popup-pane   { z-index: 7; }


/* Style the footer */
.footer {
    background-color: #white;
    padding: 5px;
    text-align: center;
}

